---
layout: page
title: Media
permalink: /media/
---

<div class="home">
  {% for data in site.data.screenshots.versions %}
  <h1>{{ data.version }}</h1>
  <div class="thumbnails">
    {% for image in data.screenshots %}
    <div class="thumbnail">
      <a href="{{ site.['baseurl'] }}/screenshots/{{ image }}">
        <img class="thumbnail-img" src="{{ site.['baseurl'] }}/screenshots/{{ image }}"
             alt="screenshot" />
      </a>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
